<div class = 'background' style="position: absolute; z-index: 1; left: 0; top: 0;">
  <div id="bg">
    <img src="http://s7.postimg.org/6ejfxs5m3/glasses_983947_1920.jpg" alt="" z-index:-2>
  </div>
</div>

<div style="position: relative; z-index: 2;">
<center><div class = 'login'>
  <h4 id= "signin">Sign Up</h4>
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  <%= form_tag create_user_path do %>
    <p id= 'signup'>First Name: <%= text_field_tag :first_name %></p>
    <p id= 'signup'>Last Name: <%= text_field_tag :last_name %></p>
    <p id= 'signup'>Email: <%= text_field_tag :email %></p>
    <p id= 'signup'>Username: <%= text_field_tag :username %></p>
    <p id= 'signup'>Password: <%= password_field_tag :password %></p>
    <p><%= submit_tag "SIGN UP" %></p>
  <% end %>
      </div>
    </center>
    </div>
  </div>
</div>
