<div class = 'background' style="position: absolute; z-index: 1; left: 0; top: 0;">
  <div id="bg">
    <img src="https://pixabay.com/get/89ee390756ee60bc9bea/1446041830/glasses-983947_1920.jpg" alt="" z-index:-2>
  </div>
</div>

<div style="position: relative; z-index: 2;">
  <div class = 'login'>
  <h4>Sign In</h4>
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  <%= form_tag create_session_path do %>
    <p>Username: <%= text_field_tag :username %></p>
    <p>Password: <%= password_field_tag :password %></p>
    <p><%= submit_tag "Login!" %></p>
  <% end %>
      </div>
    </div>
  </div>
</div>
