<link href="styles.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="css-pop.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<%=link_to("Back to Dashboard", student_dashboard_path)%>

<div class = 'assignments'>
  <table class='highlight bordered'>
       <thead>
         <tr>
          <th data-field="">Name</th>
          <th data-field="name">Description</th>
         </tr>
       </thead>
       <tbody>
         <%@assignments.each do |assignment|%>
         <tr>
            <td><h6><%=assignment.title%></h6></td>
            <td><p><%=assignment.description%></p></td>
            <td></td>
            <td><p><a href= "#modal-<%= assignment.id %>" class="modal-trigger modal-style btn" id= 'viewlightbulbs'>Lightbulbs</a></p></td>
            <div id="modal-<%= assignment.id %>" class="modal">
              <div class="modal-content">
                <center>
                <h3>Lightbulbs</h3>
                <% assignment.lightbulbs.each do |lightbulb|%>
                  <div class="row card-panel teal" id = "viewlightbulbs">
                        <p><%="Summary:" + " " + lightbulb.summary + " " + "-" + " " + " " + lightbulb.student.first_name if lightbulb.summary.present?%></p>
                        <p><%= "Video URL:" + lightbulb.video_url if lightbulb.video_url.present?%></p>
                        <p><%= "Article URL:" + lightbulb.article_url if lightbulb.article_url.present?%></p>
                        <p id = "fave"><%=react_component "FavoriteButton", studentID:current_user.id, lightbulbID: lightbulb.id%></p>
                  </div>
                <%end%>
              </center>
              <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
              </div>
            <td><a href= "#modal1" class="modal-trigger modal-style btn" id= "createlightbulbbutton"><img src ='http://s13.postimg.org/6n2pzw1zb/image.png'></a></td>
            <td><%=react_component('CreateLightBulbForm', assignmentID: assignment.id, courseID: assignment.course.id)%></p></td>
       </tr>
       <%end%>
       </tbody>
     </table>
</div>

<!-- Modal Structure -->
