<link href="styles.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="css-pop.js"></script>

<div class = 'assignments'>
<%@assignments.each do |assignment|%>
  <h5><%=assignment.title%></h5>
  <p><%=assignment.description%></p>
  <div class = 'btn'><%=link_to 'Submit Assignment', new_assignment_submission_path(assignment)%></div>
  <a href= "#modal1" class="modal-trigger btn"><img src ='http://s13.postimg.org/6n2pzw1zb/image.png'></a>
  <a href= "#modal2" class="modal-trigger btn">View Lightbulbs!</a>
  <%= react_component('CreateLightBulbForm', assignmentID: assignment.id, courseID: assignment.course.id)%>
  <%end%>
</div>

<!-- Modal Structure -->


<div id="modal2" class="modal">
  <div class="modal-content">
    <h3>Lightbulbs</h3>
    <%@assignmentone.lightbulbs.each do |lightbulb|%>
          <p><%= "Summary:" + lightbulb.summary + " " + "-" + " " + lightbulb.student.first_name if lightbulb.summary.present?%></p>
          <p><%= "Video URL:" + lightbulb.video_url if lightbulb.video_url.present?%></p>
          <p><%= "Article URL:" + lightbulb.article_url if lightbulb.article_url.present?%></p>
      <%end%>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>
