<div class = 'background' style="position: absolute; z-index: 1; left: 0; top: 0;">
  <div id="bg">
    <img src="http://s30.postimg.org/ubz7xkrvl/glasses_983947_1920.jpg" alt="" z-index:-2>
  </div>
</div>

<div style="position: relative; z-index: 2;">
  <div class = 'signup'>
  <h2>Sign Up</h2>
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <%= form_for(resource, as: resource_name, url: student_registration_path) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Sign in" %>
    </div>
  <% end %>

  <%= render "Student/shared/links" %>
  </div>
</div>
</div>
</div>
