<div class='row'>
<div class="col s3 card-panel teal" id="courses">
      <div class="col s12 m4 l11">
        <h3> Your Courses </h3>
        <%if @courses.length > 0%>
          <%@courses.each do |course|%>
          <p class='course'><%=link_to course.name, course_path(course)%></p>
          <%end%>
          <%else%>
          You have not joined any courses yet, add courses here
          <%end%>
      </div>
  </div>

  <%= notice%>
  <div class="col s9">
      <div class='row'>
          <div class="col s3 card-panel teal" id="lightbulbstats">
              <h1><%=current_user.lightbulbs.count%></h1>
              <h6>Lightbulbs so far. Keep lighting!</h6>
           </div>

           <div class="col s3 card-panel teal" id="lightbulbstats2">
               <h1><%=current_user.submissions.count%></h1>
               <h6>You've submitted <%="#{current_user.submissions.count}"%> assignments!</h6>
            </div>

          <div class="col s3 card-panel teal" id="box">
              <h1><%=current_user.sent_messages.count%></h1>
              <h6>You've shared <%="#{current_user.sent_messages.count}"%> lightbulbs. Keep sharing!</h6>
           </div>
        </div>
        <div class="row">
          <div class="col s6 card-panel teal" id="submissions">
            <div id='headingnotifications'><h5> Recent Submissions </h5></div>
            <%@submissions.each do |submission|%>
            <p><%=submission.assignment.title%></p>
            <%end%>
          </div>

          <div class= "col s6 card-panel teal" id="notifications">
            <div id='headingnotifications'><h5> Notifications </h5></div>
            <%@messages.each do |message|%>
            <div class= "row card-panel teal" id="notification">
              <img src ='http://s13.postimg.org/6n2pzw1zb/image.png'></img>
                <div id= 'messagebody'><%=message.body%></div>
                - <%=message.subject%>
                From:
                <%=message.sender.first_name%>
           </div>
            <%end%>
          </div>
        </div>
    </div>
</div>
