<div class = 'background' style="position: absolute; z-index: 1; left: 0; top: 0;">
  <div id="bg">
    <img src="https://pixabay.com/get/89ee390756ee60bc9bea/1446041830/glasses-983947_1920.jpg" alt="" z-index:-2>
  </div>
</div>

<div style="position: relative; z-index: 2;">
    <div class = 'signup'>
    <h4>Sign Up</h4>
    <%= form_for(@student) do |f| %>
      <% if @student.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>
          <ul>
          <% @student.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="field">
        <%= f.label :first_name %><br>
        <%= f.text_field :first_name %>
      </div>
      <div class="field">
        <%= f.label :last_name %><br>
        <%= f.text_field :last_name %>
      </div>
      <div class="field">
        <%= f.label :username %><br>
        <%= f.text_field :username %>
      </div>
      <div class="field">
        <%= f.label :email %><br>
        <%= f.text_field :email %>
      </div>
      <div class="field">
        <%= f.label :password_digest %><br>
        <%= f.text_field :password_digest %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
    </div>
  </div>
</div>
