<p id="notice"><%= notice %></p>

<h1>Listing Lightbulbs</h1>

<table>
  <thead>
    <tr>
      <th>Summary</th>
      <th>Video url</th>
      <th>Article url</th>
      <th>Other</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lightbulbs.each do |lightbulb| %>
      <tr>
        <td><%= lightbulb.summary %></td>
        <td><%= lightbulb.video_url %></td>
        <td><%= lightbulb.article_url %></td>
        <td><%= lightbulb.other %></td>
        <td><%= link_to 'Show', lightbulb %></td>
        <td><%= link_to 'Edit', edit_lightbulb_path(lightbulb) %></td>
        <td><%= link_to 'Destroy', lightbulb, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lightbulb', new_lightbulb_path %>
