  <strong>Summary:</strong>
  <%= @lightbulb.summary %>
</p>

<p>
  <strong>Video url:</strong>
  <%= @lightbulb.video_url %>
</p>

<p>
  <strong>Article url:</strong>
  <%= @lightbulb.article_url %>
</p>

<p>
  <strong>Other:</strong>
  <%= @lightbulb.other %>
</p>

<%= link_to 'Edit', edit_lightbulb_path(@lightbulb) %> |
<%= link_to 'Back', lightbulbs_path %>
