<link href="styles.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="css-pop.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class = 'assignments'>
  <table class='highlight bordered'>
       <thead>
         <tr>
          <th data-field="">Name</th>
         </tr>
       </thead>
       <tbody>
         <%@lessons.each do |lesson|%>
         <tr>
            <td><h6><%="Lesson" + " " + "#{lesson.id}:" + " " + "#{lesson.title}"%></h6></td>
            <td></td>
            <td><p><a href= "#modal-<%= lesson.id %>" class="modal-trigger modal-style btn" id= 'viewlightbulbs'>Lightbulbs</a></p></td>
            <div id="modal-<%= lesson.id %>" class="modal">
              <div class="modal-content">
                <center>
                <h3>Lightbulbs</h3>
                <% lesson.lightbulbs.each do |lightbulb|%>
                  <div class="row card-panel teal" id = "viewlightbulbs">
                        <p><%="Summary:" + " " + lightbulb.summary + " " + "-" + " " + " " + lightbulb.student.first_name + " " + lightbulb.student.last_name if lightbulb.summary.present?%></p>
                        <p><%= "Video URL:" + lightbulb.video_url + " " + "-" + " " + " " + lightbulb.student.first_name + " " + lightbulb.student.last_name if lightbulb.video_url.present?%></p>
                        <p><%= "Article URL:" + lightbulb.article_url + " " + "-" + " " + " " + lightbulb.student.first_name + " " + lightbulb.student.last_name if lightbulb.article_url.present?%></p>
                  </div>
                <%end%>
              </center>
              <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
              </div>
            </div>
       </tr>
       <%end%>
       </tbody>
     </table>
</div>
