<p id="notice"><%= notice %></p>

<h1>Listing Courses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Teacher</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.teacher.first_name + " " + course.teacher.last_name %></td>
        <td><%= course.description %></td>
        <td><%= link_to 'Join', course %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
