<div class='row'>
    <div class="col s3 card-panel teal" id="courses">
      <div class="col s12 m4 l11">
        <h3><%=@course.name%></h3>
    <div id='cssmenu'>
      <ul>
        <li class='last'><a href='/student_dashboard'><p>Dashboard</p></a></li>
         <li class='has-sub'><a href='/courses/:id/assignments'><p>Assigments</p></a>
            <ul>
              <li><p><%= link_to "View All Assignments", course_assignments_path(@course)%></p></li>
              <%@course.assignments.each do |assignment|%>
               <li><a href='#'><p><%=assignment.title%></p></a></li>
               <%end%>
            </ul>
         </li>
         <li class='has-sub'><a href='#'><p>Quizzes</p></a>
            <ul>
               <li><a href='#'><span><%=@course.assignments.first.title%></span></a></li>
            </ul>
         </li>
         <li class='last'><a href='/student_dashboard'><p>Logout</p></a></li>
      </ul>
    </div>
  </div>
</div>
  <div class="col s6">
    <h5>Course Information</h5>
    <p><strong>Teacher:</strong>
    <%=@course.teacher.first_name + " " + @course.teacher.last_name%>
    </p>
    <p>
    <strong>Description:</strong>
    <%= @course.description %>
    </p>
    <div class='searchbar'>
      <%= form_tag search_assignments_path do %>
        <input class="search full width" id="searchbar" name="query" placeholder = "Type in a topic and search through your classmates' lightbulbs!"
        autocomplete:"on" />
        <%if @results%>
        <% if @results.length > 0 %>
            <% @results.each do |result| %>
              <% if result.course_id == @course.id%>
                <div class="card-panel teal" id = "result">
                      <strong><h6><%= "Assignment:" + " " +result.title if result.has_attribute?('lesson_id')%></h6></strong>
                      <h6><%= "Lesson:" + " " + result.number.to_s + " " +result.title if result.has_attribute?('number')%></h6>
                      <h6><%= "Lightbulb:" + " " + result.summary + " "  if result.has_attribute?('summary')%></h6>
                      <h6>Lightbulbs:</h6>
                      <% result.lightbulbs.each do |lightbulb|%>
                        <p><%= lightbulb.summary if lightbulb.summary.present?%></p>
                        <p><%= link_to lightbulb.video_url, '#{lightbulb.video_url}' if lightbulb.video_url.present?%></p>
                        <p><%= link_to lightbulb.article_url, '#{lightbulb.articule_url}' if lightbulb.article_url.present?%></p>
                        <p> - <%= lightbulb.student.first_name%></p>
                      <% end %>
                </div>
              <%else%>
                <div class="card-panel teal" id='error'>
                  <%="Sorry your search is relevant for a different course. Check out another course from your dashboard!"%>
                </div>
                <% end %>
            <% end %>
        <%else%>
            <div class="card-panel teal" id='error'>
              <%="Sorry no lightbulbs can be found based on your search!"%>
            </div>
        <% end %>
      <% end %>
    <% end %>
    </div>
  </div>
  <div class="col s3" id = "side">
    <h6>Lightbulb Moments</h6>
    <%@bulbs.each do |lightbulb|%>
        <div class="row card-panel teal" id = "lightbulbmomentcard">
          <div class="col s12" id = "side">
            <div class="col s3">
          <img src ='http://s13.postimg.org/6n2pzw1zb/image.png'></img>
          </div>
          <div class="col s9">
            <div class='buttonwrapper'>
            <%=lightbulb.summary if lightbulb.summary.present?%>
            <%=link_to lightbulb.video_url, 'www.youtube.com' if lightbulb.video_url.present?%>
            <%=link_to lightbulb.article_url, '#{article_url}' if lightbulb.article_url.present?%>
            <a href= "#modal-<%=lightbulb.id%>" class="modal-trigger btn" id="sharebutton">Share</a>
          </div>
        </div>
        </div>
        </div>
        <div id="modal-<%=lightbulb.id%>" class="modal">
          <div class="modal-content">
            <%=react_component 'ShareLightbulbForm', lightbulbID:lightbulb.id, courseID: @course.id, senderID: current_user.id%>
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
         </div>
          <div class="modal-footer">
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>
