<%= react_component('Sidebar', courseID: @course.id) %>

<div class = 'courseinfo'>
  <h3><center><%=@course.name%></center></h3>
  <h5>Course Information</h5>

<p>
  <strong>Teacher:</strong>
  <%= @course.teacher.first_name + " " + @course.teacher.last_name%>
</p>
<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>
</div>

<%= react_component('Lightbulbsbar', course: @course, lightbulbs: current_user.lightbulbs.where(course_id: @course.id)) %>

<center>
  <div class='searchbar'>
  <%= form_tag search_assignments_path do %>
    <input class="search full width" id="searchbar" name="query" placeholder = "Search through your classmates' lightbulbs by assignment!"
    autocomplete:"on">
    <% if params[:query] != nil && @assignments.length >= 1 %>
      <% @assignments.each do |assignment|%>
        <% if assignment != nil && assignment.course_id == @course.id%>
            <h6><%=assignment.title%></h6>
              <% assignment.lightbulbs.each do |lightbulb| %>
                <p><%=lightbulb.summary%></p> - <%=lightbulb.student.first_name%>
              <% end %>
        <% elsif assignment != nil && assignment.course_id != @course.id%>
            <p>Sorry, that assignment belongs to a different course!</p>
        <% end %>
        <% end %>
    <% elsif params[:query] != nil && @assignments.length == 0%>
      <p> Sorry, that assignment doesn't exist for any of your courses! </p>
    <% end %>
  <% end %>
  </div>
</center>
<!--
Why doesn't greater than 0 on top conditional not work? Also why doesn't checking if nil work? -->
