<div class='row'>
  <div class="col s3">
    <div id='cssmenu'>
      <ul>
        <p></p>
        <li class='last'><a href='/student_dashboard'><span><p></p>Back To Dashboard<p></p></span></a></li>
         <li class='has-sub'><a href='/courses/1/assignments'><span><p></p>Assignments<p></p></span></a>
            <ul>
              <%@course.assignments.each do |assignment|%>
               <li><a href='#'><span><%=assignment.title%></span></a></li>
               <%end%>
            </ul>
         </li>
         <li class='has-sub'><a href='#'><span><p></p>Quizzes<p></p></span></a>
            <ul>
               <li><a href='#'><span><%=@course.assignments.first.title%></span></a></li>
            </ul>
         </li>
         <li class='last'><a href='/student_dashboard'><span><p></p>Logout<p></p></span></a></li>
      </ul>
    </div>
  </div>
  <div class="col s6">
    <h3><center><%=@course.name%></center></h3>
    <h5>Course Information</h5>
    <p><strong>Teacher:</strong>
    <%=@course.teacher.first_name + " " + @course.teacher.last_name%>
    </p>
    <p>
    <strong>Description:</strong>
    <%= @course.description %>
    </p>
    <div class='searchbar'>
      <%= form_tag search_assignments_path do %>
        <input class="search full width" id="searchbar" name="query" placeholder = "Type in a topic!"
        autocomplete:"on" />
        <%if @results%>
        <% if @results.length > 0 %>
            <% @results.each do |result| %>
              <% if result.course_id == @course.id%>
                <div class="card-panel teal">
                      <strong><h6><%= "Assignment:" + " " +result.title if result.has_attribute?('lesson_id')%></h6></strong>
                      <h6><%= "Lesson:" + " " + result.number.to_s + " " +result.title if result.has_attribute?('number')%></h6>
                      <h6>Lightbulbs:</h6>
                      <% result.lightbulbs.each do |lightbulb|%>
                        <p><%= lightbulb.summary if lightbulb.summary.present?%></p>
                        <p><%= link_to lightbulb.video_url, '#{lightbulb.video_url}' if lightbulb.video_url.present?%></p>
                        <p><%= link_to lightbulb.article_url, '#{lightbulb.articule_url}' if lightbulb.article_url.present?%></p>
                        <p> - <%= lightbulb.student.first_name%></p>
                      <% end %>
                </div>
              <%else%>
                <div class="card-panel teal" id='error'>
                  <%="Sorry your search is relevant for a different course. Check out another course from your dashboard!"%>
                </div>
                <% end %>
            <% end %>
        <%else%>
            <div class="card-panel teal" id='error'>
              <%="Sorry no lightbulbs can be found based on your search!"%>
            </div>
        <% end %>
      <% end %>
    <% end %>
    </div>
  </div>
  <div class="col s3">
    <h6>Lightbulb Moments</h6>
    <%@bulbs.each do |lightbulb|%>
  </div>
  </div>
  <div class="row">
        <div class="col s3">
          <div class="card-panel teal" id = "side">
          <img src ='http://s13.postimg.org/6n2pzw1zb/image.png'></img>
          <%=lightbulb.summary if lightbulb.summary.present?%>
          <%=link_to lightbulb.video_url, 'www.youtube.com' if lightbulb.video_url.present?%>
          <%=link_to lightbulb.article_url, '#{article_url}' if lightbulb.article_url.present?%>
          <a href= "#modal3" class="modal-trigger btn">Share</a>
      </div>
  </div>
    <%end%>
  </div>
</div>
<div id="modal3" class="modal">
  <div class="modal-content">
    <div className='form'>
      <p>
        <div class='searchclassmates'>
          <%= form_tag search_classmates_path do %>
            <input class="search full width two" id="searchclassmates" name="queryclassmates" placeholder = "Search for a classmate to share with!"
            autocomplete:"on" />
          <%end%>
        </div>
      </p>
      </div>
      <div class="modal-footer">
        <%if @recipient%>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">
          <%=react_component 'ShareButton', senderID: current_user.id, receiverID: @recipient.id, subject:"Test Two", body: "Checking again?"%>
        </a>
          <%end%>
      </div>
  </div>
