<%= react_component('Sidebar', courseID: @course.id) %>

<div class = 'courseinfo'>
  <h3><center><%=@course.name%></center></h3>
  <h5>Course Information</h5>

<p>
  <strong>Teacher:</strong>
  <%= @course.teacher.first_name + " " + @course.teacher.last_name%>
</p>
<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>
</div>

<%= react_component('Lightbulbsbar', course: @course, lightbulbs: current_user.lightbulbs.where(course_id: @course.id)) %>

<center>
  <div class='searchbar'>
  <%= form_tag search_assignments_path do %>
    <input class="search full width" id="searchbar" name="query" placeholder = "Search through your classmates' lightbulbs by assignment!"
    autocomplete:"on">
<%if @results %>
        <%@results.each do |result|%>
            <h6><%="Assignment:" + " " +result.title if result.has_attribute?('lesson_id')%></h6>
              <p><%="Lesson:" + " " + result.number.to_s + " " +result.title if result.has_attribute?('number')%></p>
            <h6>Lightbulbs:</h6>
            <%result.lightbulbs.each do |lightbulb|%>
              <p><%=lightbulb.summary%></p>
              <p> - <%=lightbulb.student.first_name%></p>
            <%end%>
         <%end%>
  <%end%>
<%end%>
  </div>
</center>
