<p><%= link_to "Back to Course", course_path(Course.first)%></p>

<div class = 'useful_links'>
      <table class='highlight bordered centered'>
        <thead>
          <tr>
              <th data-field="">Lesson</th>
              <th data-field="">Weblink</th>
              <th data-field="">Submmitter</th>
          </tr>
        </thead>
        <tbody>
          <% @titles.each_with_index do |title, index| %>
           <tr>
             <td><%=title%></td>
             <td><%= @urls[index] %></td>
             <td><%= @submitters[index] %></td>
           </tr>
          <% end %>
        </tbody>
      </table>
</div>

<!-- <%@urls.each do |url|%>
  <p><%=url%></p>
<%end%>
<%@submitters.each do |submitter|%>
<p><%=submitter%></p>
<%end%> -->
