<div class='colorover'>
  <div class= 'homepage'>
      <div id = 'hpbackground' style="position: absolute; z-index: -1; left: 0; top: 0;">
          <img src="http://s19.postimg.org/kn3znihj7/whiteboard_849811.jpg" alt="" z-index:-2>
      </div>
        <h1>LIGHTPATH </h1>
        <!-- <p><%=@assignment_titles%></p>
        <p><%=@item_title%></p>
        <p><%=@accounting_assignments%></p>
        <p><%=@responseone%></p>
        <p><%=@response%></p>
        <p><%=@response_title%></p>
        <p><%=@response_description%></p>
        <p><%=@response_site%></p>
        <p><%=@response_submitter%></p> -->
        <!-- <p><%=@wb_post_response%></p> -->
        <!-- <p><%=@response%></p> -->
        <h3> illuminate the path to mastery </h3>
        <%=link_to "I'm a Student", new_login_path%>
        <!-- <%=link_to "I'm a Teacher", teacher_login_path%> -->
        <%=link_to "About Lightpath", about_path%>
    </div>
</div>
